*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:white;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    background: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 500px;
}
header{
    width: 1200px;
    margin:auto;
    
    height: 100px;  
    position:relative;
}
.box{
    width: 800px;
    
    height: 480px;
    margin: auto;
    position:relative;
}
.logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

/* ----------------NAVBAR---------- */
.menu{
    text-align: center;
}
nav{
    list-style: none;
}
nav ul li{
    margin-right: 10px;
    display: inline-block;
}
a{
    text-decoration: none;
    color:white;
    padding:6px;
    font-size: 18px;
}
/* ---------------BUTTON ACCEDI----------- */
.btn{
    padding:6px 10px;

    border-radius: 15px;
    border-color: white;
    color:black;
    background-color: white;
}
.accedi{
    position:absolute;
     top:50%;
     right: 0;
     transform: translate(-0%,-50%);
}
/* ----------------------TEXT-CONTAINER-------- */
.text-container{
    width: 80%;
    height: 50%;


    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   

    text-align: center;
    
}
.titolo{
    margin-bottom: 40px;
    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.testo{
    margin-bottom: 20px;
}
.btn-container{
    margin: auto;
    margin-top: 30px;
    
}
.chiaro{
    border-color: white;
}
.scuro{
    margin-left: 10px;
    background-color: black;
    color:white;
    border-color: black;
}